In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn import svm
from sklearn.model_selection import RandomizedSearchCV
from hyperopt import tpe, hp, fmin, STATUS_OK,Trials

In [3]:
data = pd.read_csv('/content/titanic (1).csv')

In [5]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
data.info

<bound method DataFrame.info of      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]>

In [8]:
X = data[['Pclass','SibSp','Parch','Fare']]
y = data.Survived

In [9]:
X.head()

   Pclass  SibSp  Parch     Fare
0       3      1      0   7.2500
1       1      1      0  71.2833
2       3      0      0   7.9250
3       1      1      0  53.1000
4       3      0      0   8.0500

In [10]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [11]:
y.value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [13]:
model = SVC(C=10, gamma=0.0001,kernel='rbf')

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

In [14]:
y_pred

array([0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0])

In [15]:
accuracy_score(y_test, y_pred)

0.6860986547085202

In [16]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.70      0.91      0.79       143
           1       0.64      0.29      0.40        80

    accuracy                           0.69       223
   macro avg       0.67      0.60      0.59       223
weighted avg       0.67      0.69      0.65       223

In [17]:
model = svm.SVC()
kf=KFold(n_splits=5)
score=cross_val_score(model,X,y,cv=kf)
print("Cross Validation Scores are {}".format(score))
print("Average Cross Validation score :{}".format(score.mean()))

Cross Validation Scores are [0.62011173 0.66853933 0.66853933 0.66292135 0.70786517]
Average Cross Validation score :0.6655953800765803

In [18]:
param_random = {'C': [0.1, 1, 10, 100, 1000], 
              'gamma': [1, 0.1, 0.01, 0.001, 0.0001],
              'kernel': ['rbf']}

In [19]:
random_search=RandomizedSearchCV(estimator = SVC(), param_distributions=param_random,verbose=1, n_jobs=-1,
                            n_iter=20)
random_result = random_search.fit(X_train, y_train)
print('Best Score: ', random_result.best_score_*100)
print('Best Params: ', random_result.best_params_)

Fitting 5 folds for each of 20 candidates, totalling 100 fits
Best Score:  69.77331388171922
Best Params:  {'kernel': 'rbf', 'gamma': 0.1, 'C': 1000}

In [20]:
pip install hyperopt

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: hyperopt in /usr/local/lib/python3.7/dist-packages (0.1.2)
Requirement already satisfied: networkx in /usr/local/lib/python3.7/dist-packages (from hyperopt) (2.6.3)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from hyperopt) (0.16.0)
Requirement already satisfied: pymongo in /usr/local/lib/python3.7/dist-packages (from hyperopt) (4.3.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from hyperopt) (1.15.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from hyperopt) (1.21.6)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from hyperopt) (4.64.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from hyperopt) (1.7.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pymongo->hyperopt) (2.2.1)

In [21]:
space= {'C': hp.choice('C', [0.1, 1, 10, 100, 1000]), 
              'gamma': hp.choice('gamma', [1, 0.1, 0.01, 0.001, 0.0001]),
              'kernel':  hp.choice('kernel', ['rbf'])}

In [22]:
def hyperparameter_tuning(params):
    clf = SVC(**params)
    acc = cross_val_score(clf, X_train, y_train,scoring="accuracy").mean()
    return {"loss": -acc, "status": STATUS_OK}

In [23]:
trials = Trials()

best = fmin(
    fn=hyperparameter_tuning,
    space = space, 
    algo=tpe.suggest, 
    max_evals=50, 
    trials=trials
)

print("Best: {}".format(best))

100%|██████████| 50/50 [00:30<00:00,  1.67it/s, best loss: -0.6977331388171922]
Best: {'C': 4, 'gamma': 1, 'kernel': 0}

In [24]:
trials.results

[{'loss': -0.6692402648412075, 'status': 'ok'},
 {'loss': -0.693154528111323, 'status': 'ok'},
 {'loss': -0.6842105263157895, 'status': 'ok'},
 {'loss': -0.6976433621366851, 'status': 'ok'},
 {'loss': -0.678184266636741, 'status': 'ok'},
 {'loss': -0.6797104702053641, 'status': 'ok'},
 {'loss': -0.6782179328919312, 'status': 'ok'},
 {'loss': -0.6871843788575918, 'status': 'ok'},
 {'loss': -0.6887554707664684, 'status': 'ok'},
 {'loss': -0.6766917293233083, 'status': 'ok'},
 {'loss': -0.6721692290427561, 'status': 'ok'},
 {'loss': -0.6721692290427561, 'status': 'ok'},
 {'loss': -0.6707103579845135, 'status': 'ok'},
 {'loss': -0.6766917293233083, 'status': 'ok'},
 {'loss': -0.6077881270340029, 'status': 'ok'},
 {'loss': -0.6707103579845135, 'status': 'ok'},
 {'loss': -0.6077881270340029, 'status': 'ok'},
 {'loss': -0.6706879138143866, 'status': 'ok'},
 {'loss': -0.6871843788575918, 'status': 'ok'},
 {'loss': -0.6811917854337335, 'status': 'ok'},
 {'loss': -0.6976433621366851, 'status': 'ok'},
 {'loss': -0.6976433621366851, 'status': 'ok'},
 {'loss': -0.6976433621366851, 'status': 'ok'},
 {'loss': -0.6976433621366851, 'status': 'ok'},
 {'loss': -0.6976433621366851, 'status': 'ok'},
 {'loss': -0.6976433621366851, 'status': 'ok'},
 {'loss': -0.6976433621366851, 'status': 'ok'},
 {'loss': -0.6917405453933341, 'status': 'ok'},
 {'loss': -0.6976433621366851, 'status': 'ok'},
 {'loss': -0.6976433621366851, 'status': 'ok'},
 {'loss': -0.6797441364605544, 'status': 'ok'},
 {'loss': -0.6917405453933341, 'status': 'ok'},
 {'loss': -0.6797216922904274, 'status': 'ok'},
 {'loss': -0.6976433621366851, 'status': 'ok'},
 {'loss': -0.6977331388171922, 'status': 'ok'},
 {'loss': -0.6842105263157895, 'status': 'ok'},
 {'loss': -0.6977331388171922, 'status': 'ok'},
 {'loss': -0.6437661317472786, 'status': 'ok'},
 {'loss': -0.6977331388171922, 'status': 'ok'},
 {'loss': -0.6917405453933341, 'status': 'ok'},
 {'loss': -0.6842105263157895, 'status': 'ok'},
 {'loss': -0.6977331388171922, 'status': 'ok'},
 {'loss': -0.6797104702053641, 'status': 'ok'},
 {'loss': -0.6437661317472786, 'status': 'ok'},
 {'loss': -0.6692402648412075, 'status': 'ok'},
 {'loss': -0.6917405453933341, 'status': 'ok'},
 {'loss': -0.6872404892829088, 'status': 'ok'},
 {'loss': -0.6977331388171922, 'status': 'ok'},
 {'loss': -0.693154528111323, 'status': 'ok'},
 {'loss': -0.6616541353383459, 'status': 'ok'}]

In [25]:
trials.losses()

[-0.6692402648412075,
 -0.693154528111323,
 -0.6842105263157895,
 -0.6976433621366851,
 -0.678184266636741,
 -0.6797104702053641,
 -0.6782179328919312,
 -0.6871843788575918,
 -0.6887554707664684,
 -0.6766917293233083,
 -0.6721692290427561,
 -0.6721692290427561,
 -0.6707103579845135,
 -0.6766917293233083,
 -0.6077881270340029,
 -0.6707103579845135,
 -0.6077881270340029,
 -0.6706879138143866,
 -0.6871843788575918,
 -0.6811917854337335,
 -0.6976433621366851,
 -0.6976433621366851,
 -0.6976433621366851,
 -0.6976433621366851,
 -0.6976433621366851,
 -0.6976433621366851,
 -0.6976433621366851,
 -0.6917405453933341,
 -0.6976433621366851,
 -0.6976433621366851,
 -0.6797441364605544,
 -0.6917405453933341,
 -0.6797216922904274,
 -0.6976433621366851,
 -0.6977331388171922,
 -0.6842105263157895,
 -0.6977331388171922,
 -0.6437661317472786,
 -0.6977331388171922,
 -0.6917405453933341,
 -0.6842105263157895,
 -0.6977331388171922,
 -0.6797104702053641,
 -0.6437661317472786,
 -0.6692402648412075,
 -0.6917405453933341,
 -0.6872404892829088,
 -0.6977331388171922,
 -0.693154528111323,
 -0.6616541353383459]