In [86]:
import numpy as np
import pandas as pd
import seaborn as sns

In [87]:
data = pd.read_csv('/content/salary.csv')

In [88]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [89]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

Encoding

In [90]:
data.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [92]:
data['workclass'].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [95]:
data['workclass'].replace(to_replace = ' ?', value = data['workclass'].mode()[0], inplace = True)

In [96]:
data['workclass'].unique()

array([ 8.,  2.,  5.,  7.,  6., nan,  4.,  1.,  0.])

In [93]:
data['workclass'] = data['workclass'].map({' Never-worked':0,' Without-pay':1,' Self-emp-not-inc':2,' Self-emp-inc':4,' Private':5, ' Local-gov':6,' Federal-gov':7,' State-gov':8})

In [97]:
data['race'].unique()

array([' White', ' Black', ' Asian-Pac-Islander', ' Amer-Indian-Eskimo',
       ' Other'], dtype=object)

In [98]:
data['race'] = data['race'].map({' Black':0,' Amer-Indian-Eskimo':1,' Asian-Pac-Islander':2,' Other':3,' White':4})

In [99]:
data['sex'] = data['sex'].map({' Male':1,' Female':0})

In [100]:
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()

In [101]:
data['sex']=labelencoder.fit_transform(data['sex'])

In [102]:
data['occupation']=labelencoder.fit_transform(data['occupation'])
data['relationship']=labelencoder.fit_transform(data['relationship'])

In [103]:
data['marital-status']=labelencoder.fit_transform(data['marital-status'])
data['native-country']=labelencoder.fit_transform(data['native-country'])
data['education']=labelencoder.fit_transform(data['education'])

In [104]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,8.0,77516,9,13,4,1,1,4,1,2174,0,40,39,<=50K
1,50,2.0,83311,9,13,2,4,0,4,1,0,0,13,39,<=50K
2,38,5.0,215646,11,9,0,6,1,4,1,0,0,40,39,<=50K
3,53,5.0,234721,1,7,2,6,0,0,1,0,0,40,39,<=50K
4,28,5.0,338409,9,13,2,10,5,0,0,0,0,40,5,<=50K

In [68]:
x = data.drop('salary',axis=1)
y = data.salary

In [105]:
x = pd.get_dummies(x)
x.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,8,77516,9,13,0,0,1,4,1,2174,0,40,38
1,50,2,83311,9,13,0,3,0,4,1,0,0,13,38
2,38,5,215646,11,9,0,5,1,4,1,0,0,40,38
3,53,5,234721,1,7,0,5,0,0,1,0,0,40,38
4,28,5,338409,9,13,0,9,5,0,0,0,0,40,4

In [106]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=42,test_size=0.25)

Decision Tree

In [107]:
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier()
dt.fit(x_train,y_train)
y_pred=dt.predict(x_test)

In [108]:
from sklearn.metrics import accuracy_score
acc=round(accuracy_score(y_test,y_pred),2)
acc

0.82

Random Forest

In [109]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state = 40,n_estimators = 100)
rf = rf.fit(x_train,y_train)
y_pred = rf.predict(x_test)

In [110]:
acc=round(accuracy_score(y_test,y_pred),2)
acc

0.86

Bagging Classifier

    decision tree

In [111]:
from sklearn.ensemble import BaggingClassifier
dt = DecisionTreeClassifier()
bagging_clf = BaggingClassifier(base_estimator = dt, n_estimators = 100, random_state = 40)
bagging_clf.fit(x_train,y_train)
y_pred = bagging_clf.predict(x_test)

In [112]:
acc=round(accuracy_score(y_test,y_pred),2)
acc

0.86

     Random forest

In [113]:
from sklearn.ensemble import BaggingClassifier
bagging_clf = BaggingClassifier(base_estimator = rf, n_estimators = 100, random_state = 40)
bagging_clf.fit(x_train,y_train)
y_pred = bagging_clf.predict(x_test)

In [114]:
acc=round(accuracy_score(y_test,y_pred),2)
acc

0.86

Boosting Classifier

In [115]:
from sklearn.ensemble import AdaBoostClassifier
ad = AdaBoostClassifier(n_estimators = 100)
ad = ad.fit(x_train,y_train)
y_pred = ad.predict(x_test)

In [116]:
acc=round(accuracy_score(y_test,y_pred),2)
acc

0.87